@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, fieldset, input, p, blockquote, th, td, legend {
  margin: 0;
  padding: 0;
}

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 15px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:24px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

em { 
  font-size:150%;
  color:#39c;
  font-family: "Florence", cursive;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#555;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:1100px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#555;
  font-weight:700;
}

th {
  color:#555;
}

img {
  max-width:100%;
}

header {
  width:250px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:250px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:750px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:250px;
  float:left;
  position:fixed;
  bottom:50px;
  line-height: 1.5px;
}

@media print, screen and (max-width: 1200px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#555;
  }
}


svg {
  background: #fff;
  width: 750px;
  height: 400px;
}

#legend {
  font-size: 10px;
}

#counties path {
  stroke: #fff;
  stroke-width: .25px;
}

#states path {
  fill: none; 
  stroke: #fff;
  stroke-width: 1.5px;
}

pchart {
  font: Garamond;
  margin-left:  150px;  
}

ptab {
  font: Garamond;
  margin-left: 220px;
}

/* Line Chart Refugess in 20 Years*/

#linechart {
    width: 725px;
    margin: 0 auto;
}

#filters {
    font-family: 'Helvetica Neue', serif;;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 550px; 
    margin-top: -180px;
    list-style-type: none; 
}

#Explain {width: 165px; background: #fff; color: #000; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#SAS { width: 165px; background: #895881; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#ECS { width: 165px; background: #ED7C31; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#MEA { width: 165px; background: #82A5C0; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#SSF { width: 165px; background: #6E9E75; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#LCN { width: 165px; background: #00BBD6; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }
#EAS { width: 165px; background: #e25f82; color: #fff; padding: 2px; margin-right: 3px; font-size: 12px; list-style-type: none; }

#blurb {
    margin-left: 5px; 
    width: 500px;
    height: 60px;
    margin-top: -180px;
    border-top: 1px ;
    padding-top: 20px;
    text-align: center;
}

#selection {
    margin-left: 450px;
    margin-top: 155px; 
    width: 300px;
    height: 20px;
}

#cite { width: 720px; margin-left: 10px; font-size: 0.9em; text-align: center; margin-top: 0px; padding-bottom: 10px; }
#cite a { text-decoration: none; color: #39c; }

#vis {
    min-height: 400px;
    margin-top: 110px;
}

path {
    stroke: #39c;
    stroke-width: 1.0;
    fill: none; 
}

path.current, path.highlight.current {
    stroke: #000;
    stroke-width: 2.0;
}

/* Region */
/*.EAS.highlight { stroke: #e25f82; }
.ECS.highlight { stroke: #ED7C31; } 
.LCN.highlight { stroke: #00BBD6; }
.MEA.highlight { stroke: #82A5C0; }
.SAS.highlight { stroke: #895881; }
.SSF.highlight { stroke: #6E9E75; }
.NAC.highlight { stroke: #be1932; }*/
/* Country */

.KHM.highlight { stroke: #e25f82; }
.CHN.highlight { stroke: #e25f82; }
.IDN.highlight { stroke: #e25f82; }
.PRK.highlight { stroke: #e25f82; }
.LAO.highlight { stroke: #e25f82; }
.MYS.highlight { stroke: #e25f82; }
.MMR.highlight { stroke: #e25f82; }
.THA.highlight { stroke: #e25f82; }
.VNM.highlight { stroke: #e25f82; }
.ALB.highlight { stroke: #ED7C31; }
.ARM.highlight { stroke: #ED7C31; }
.AZE.highlight { stroke: #ED7C31; }
.BLR.highlight { stroke: #ED7C31; }
.BIH.highlight { stroke: #ED7C31; }
.BGR.highlight { stroke: #ED7C31; }
.HRV.highlight { stroke: #ED7C31; }
.CZE.highlight { stroke: #ED7C31; }
.EST.highlight { stroke: #ED7C31; }
.GEO.highlight { stroke: #ED7C31; }
.HUN.highlight { stroke: #ED7C31; }
.KAZ.highlight { stroke: #ED7C31; }
.KGZ.highlight { stroke: #ED7C31; }
.LVA.highlight { stroke: #ED7C31; }
.LTU.highlight { stroke: #ED7C31; }
.MKD.highlight { stroke: #ED7C31; }
.MDA.highlight { stroke: #ED7C31; }
.POL.highlight { stroke: #ED7C31; }
.ROU.highlight { stroke: #ED7C31; }
.RUS.highlight { stroke: #ED7C31; }
.SRB.highlight { stroke: #ED7C31; }
.TJK.highlight { stroke: #ED7C31; }
.TKM.highlight { stroke: #ED7C31; }
.UKR.highlight { stroke: #ED7C31; }
.UZB.highlight { stroke: #ED7C31; }
.ARG.highlight { stroke: #00BBD6; }
.COL.highlight { stroke: #00BBD6; }
.CUB.highlight { stroke: #00BBD6; }
.SLV.highlight { stroke: #00BBD6; }
.HTI.highlight { stroke: #00BBD6; }
.HND.highlight { stroke: #00BBD6; }
.NIC.highlight { stroke: #00BBD6; }
.DZA.highlight { stroke: #82A5C0; }
.BHR.highlight { stroke: #82A5C0; }
.DJI.highlight { stroke: #82A5C0; }
.EGY.highlight { stroke: #82A5C0; }
.IRN.highlight { stroke: #82A5C0; }
.IRQ.highlight { stroke: #82A5C0; }
.JOR.highlight { stroke: #82A5C0; }
.KWT.highlight { stroke: #82A5C0; }
.LBN.highlight { stroke: #82A5C0; }
.LBY.highlight { stroke: #82A5C0; }
.SYR.highlight { stroke: #82A5C0; }
.TUN.highlight { stroke: #82A5C0; }
.YEM.highlight { stroke: #82A5C0; }
.AFG.highlight { stroke: #895881; }
.BTN.highlight { stroke: #895881; }
.NPL.highlight { stroke: #895881; }
.PAK.highlight { stroke: #895881; }
.LKA.highlight { stroke: #895881; }
.AGO.highlight { stroke: #6E9E75; }
.BDI.highlight { stroke: #6E9E75; }
.CMR.highlight { stroke: #6E9E75; }
.CAF.highlight { stroke: #6E9E75; }
.TCD.highlight { stroke: #6E9E75; }
.COD.highlight { stroke: #6E9E75; }
.COG.highlight { stroke: #6E9E75; }
.CIV.highlight { stroke: #6E9E75; }
.GNQ.highlight { stroke: #6E9E75; }
.ERI.highlight { stroke: #6E9E75; }
.ETH.highlight { stroke: #6E9E75; }
.GMB.highlight { stroke: #6E9E75; }
.GHA.highlight { stroke: #6E9E75; }
.GIN.highlight { stroke: #6E9E75; }
.KEN.highlight { stroke: #6E9E75; }
.LBR.highlight { stroke: #6E9E75; }
.MRT.highlight { stroke: #6E9E75; }
.NAM.highlight { stroke: #6E9E75; }
.NGA.highlight { stroke: #6E9E75; }
.RWA.highlight { stroke: #6E9E75; }
.SEN.highlight { stroke: #6E9E75; }
.SLE.highlight { stroke: #6E9E75; }
.SOM.highlight { stroke: #6E9E75; }
.ZAF.highlight { stroke: #6E9E75; }
.SDN.highlight { stroke: #6E9E75; }
.TGO.highlight { stroke: #6E9E75; }
.UGA.highlight { stroke: #6E9E75; }
.ZMB.highlight { stroke: #6E9E75; }
.ZWE.highlight { stroke: #6E9E75; }
.highlight { stroke-width: 3.0px; } 

line {
    stroke: #fff; 
    stroke-width: 0.8;
}

.axis {
    stroke-width: 0.8;
    stroke: #39c;
}
.xTicks, .yTicks {
    stroke-width: 0.3;
    stroke: #39c;
} 

/* Stacked Area Chart Refugess in 20 Years*/
#fig {
  width: 760px;
  height: 490px; 
  background: #fff;
}

#switch {
  text-align: right; 
  padding-top: 15px;
  margin-bottom: 5px;  
  margin-right: 25px;
  color: #555; 
}

#fig_footer {
  padding-left: 40px; 
  color: #555;
  margin-left: 50px;
  margin-top: -24px; 
}

#fig_footer input {
  background: none;
  border: none;
  outline: 0;
}